@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/roboto/RobotoMono-Medium.ttf') format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'RobotoMono', monospace;

  /*
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
  */
}

*
::-webkit-scrollbar {
  background-color: var(--color-bg-secondary);
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: dashed 1px lightblue;
}
::-webkit-scrollbar-thumb:hover {
  background-color: lightblue;
}

